@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    string MioNome = "paolo";
    string MioCognome = "Flore";
}
<h2>@MioNome @MioCognome </h2>

@{

    static int SommaNumeri()
    {
        int n = 20;
        int a = 0;
        for (int i = 0; i <= n; i++)
        {
            a+= i ;    
        }
        return a;
    }
}

@{
    int risultato = SommaNumeri();
}
<p>@risultato</p>




@{

    string frase = "nel mezzo del cammin di nostra vita";
    int Count = 0;
    foreach (char le in frase)
    {
        if (le == 'a')
        {
            Count++;
        }
    }
}
<p>@Count</p>
<!--
3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina
4. Creare una List<int>
    di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70
    5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi
    6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina
    a. la data di 7 giorni fa
    b. che giorno della settimana è oggi (il risultato dovrà  essere il nome del giorno (Lunedì, Martedì, ...)
    c. che giorno della settimana sarà  nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrÃ  essere il nome del giorno (Lunedì, Martedì, ...)-->

